@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Libre:wght@300&family=Big+Shoulders+Inline+Text:wght@700&family=Dancing+Script:wght@400;700&family=Indie+Flower&family=Josefin+Sans:wght@100;400&family=Moirai+One&family=Poppins:ital,wght@0,500;0,700;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
:root {
  color: darkslategrey;
  background: #dfe0e1;
}

header {
  background: #dfe0e1;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.icons {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.icons img {
  display: flex;
  width: 60px;
}

.logo {
  width: 230px;

  display: flex;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 30px;
}
.navbar-list li,
a {
  text-shadow: #000000 0px 0px 10px;
  text-decoration: none;
  list-style: none;
  color: darkslategrey;
  font-weight: 900;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}
#menu-toggle,
.menu-label {
  display: none;
}
main {
  background: #dfe0e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.titulos {
  max-width: 1200px;
  margin-top: 180px;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.titulos h1 {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.titulos h2 {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 45px;
  font-weight: 400;
  width: 100%;
  min-width: 300px;
}
.hero-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 50px;
}

.btn {
  box-shadow: #000000 0px 0px 10px;
  display: flex;
  background: burlywood;
  padding: 0 20px;
}

#about {
  max-width: 1200px;
  padding: 160px 20px 20px;
  display: flex;
  flex-direction: column;
}

#about h3 {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 45px;
}
#about p {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
.cards {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 30px;
}
.card-img {
  display: flex;
  width: 390px;
  height: 500px;
  box-shadow: #000000 0px 0px 10px;
}
.card-carlitos {
  display: flex;
  gap: 30px;
}
.card-roman {
  display: flex;
  gap: 30px;
}
.card-campo {
  display: flex;
  gap: 30px;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-h3 {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.contact-p {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 45px;
  font-weight: 400;
  width: 100%;
  min-width: 300px;
}

.contact-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 30px;
}
.contact-me {
  background: burlywood;
  box-shadow: #000000 0px 0px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 200px;
  gap: 10px;
}
.contact-me b {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  font-size: 25px;
  font-weight: 900;
}
.contact-me i {
  padding: 10px 15px;
  font-weight: 700;
}

.icons-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
