@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Libre:wght@300&family=Big+Shoulders+Inline+Text:wght@700&family=Dancing+Script:wght@400;700&family=Indie+Flower&family=Josefin+Sans:wght@100;400&family=Moirai+One&family=Poppins:ital,wght@0,500;0,700;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
:root {
  color: darkslategrey;
  background: #dfe0e1;
}

header {
  background: #dfe0e1;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.icons {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-right: 10px;
}

.icons img {
  display: flex;
  width: 60px;
}

.logo {
  width: 250px;
  display: flex;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 30px;
}
.navbar-list li,
a {
  text-shadow: #000000 0px 0px 10px;
  text-decoration: none;
  list-style: none;
  color: darkslategrey;
  font-weight: 900;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}
#menu-toggle,
.menu-label {
  display: none;
}
main {
  background: #dfe0e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titulos {
  max-width: 1200px;
  margin-top: 170px;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulos h1 {
  font-family: "Moirai One", cursive;
  color: darkslategray;
  text-shadow: #000000 0px 0px 10px;
  padding: 20px 10px 50px;
  font-size: 90px;
  font-weight: 700;
  gap: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulos h2 {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;

  padding: 10px;
  font-size: 45px;

  width: 100%;
  min-width: 300px;
}
.titulos span {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 45px;
  font-weight: 400;
  width: 100%;
  min-width: 300px;
}
.hero-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  gap: 20px;
}

.bottoms {
  box-shadow: #000000 0px 0px 10px;
  display: flex;
  background: burlywood;
  padding: 0 20px;
}

#about {
  max-width: 1200px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

#about h3 {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 45px;

  width: 100%;
  min-width: 300px;
}
#about p {
  font-family: "Amatic SC", cursive;
  color: darkslategrey;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
