@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Libre:wght@300&family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@100;400&family=Poppins:ital,wght@0,500;0,700;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

header {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.icons {
  display: flex;

  justify-content: space-between;
}
.logo {
  width: 250px;
  display: flex;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  background-color: red;
  list-style: none;
  gap: 30px;
}
.navbar-list li,
a {
  text-shadow: #000000 0px 0px 10px;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}
#menu-toggle,
.menu-label {
  display: none;
}
