@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Libre:wght@300&family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@100;400&family=Poppins:ital,wght@0,500;0,700;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

header {
  background: #a8a6a1;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.icons {
  display: flex;
  align-items: center;
  gap: 2px;
}
.icons img {
  display: flex;
  width: 60px;
}

.logo {
  width: 250px;
  display: flex;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 30px;
}
.navbar-list li,
a {
  text-shadow: #000000 0px 0px 10px;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}
#menu-toggle,
.menu-label {
  display: none;
}
main {
  background: #a8a6a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#hero {
  max-width: 1200px;
  margin-top: 150px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#hero h1 {
  font-family: "Dancing Script", cursive;
  color: rgb(0, 0, 0);
  text-shadow: #000000 0px 0px 10px;
  padding: 20px;
  font-size: 90px;
  font-weight: 700;
  gap: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero h2 {
  font-family: "Dancing Script", cursive;
  color: rgb(208, 255, 0);
  text-shadow: rgba(0, 153, 0, 0.692) 0px 5px 1px;
  padding: 1px;
  font-size: 40px;
  font-weight: 400;
  width: 100%;
  min-width: 300px;
}
.hero-bottom {
  display: flex;
  gap: 20px;
}
.bottom-loguin {
  box-shadow: #000000 0px 0px 10px;
  display: flex;
  background: burlywood;
  padding: 0 20px;
}
.bottom-regist {
  box-shadow: #000000 0px 0px 10px;
  display: flex;
  background: burlywood;
  padding: 0 20px;
}
