@media (max-width: 992px) {
  header {
    background: #dfe0e1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }
  .navbar-list {
    background: #dfe0e1;
    position: absolute;
    width: 100%;
    left: 0%;
    padding: 0px 10px;
    justify-content: space-between;
    display: none;
  }
  .icons {
    padding: 0px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .icons img {
    width: 45px;
  }
  .menu-label {
    display: flex;
    cursor: pointer;
  }
  .menu-ham {
    width: 150px;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  #hero {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .title-logo {
    width: 100%;
  }

  #about {
    text-align: center;
  }
  .about-tittle h2 {
    flex-direction: column;
    align-items: center;
  }
  .about-tittle p {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-img {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-carlitos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-roman {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-campo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact {
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-p {
    display: flex;
    width: 100%;
  }
  .contact-box {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .icons {
    padding: 0px 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
  .menu-ham {
    height: 70px;
  }

  .navbar-list {
    background: #dfe0e1;
    justify-content: space-around;

    flex-direction: column;
    gap: 2px;
  }
  .navbar-list li,
  a {
    display: flex;
    width: 90%;
  }
  .nav-int {
    display: block;
    width: 50%;
  }
  .nav-int::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: darkslategray;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  .nav-int:hover::after {
    transform: scaleX(1);
  }
  .menu-label {
    display: flex;
    cursor: pointer;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  #hero {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .titulos {
    padding: 10px 5px;
    width: 100%;
    margin-top: 0px;
  }
  .title-logo {
    width: 100%;
    height: 100px;
  }
  .hero-btn {
    width: 100%;
    gap: 5px;
  }
  #about {
    text-align: center;
    padding: 20px;
  }
  .about-tittle h2 {
    flex-direction: column;
    align-items: center;
  }
  .about-tittle p {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-img {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-carlitos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-roman {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-campo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contact-mail a {
    width: max-content;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
  }
  .footer-list {
    display: none;
  }
}
