@media (max-width: 992px) {
  .icons img {
    display: flex;
    width: 60px;
    margin-right: 10px;
  }

  .navbar-list {
    background: linear-gradient(to bottom, #a8a6a1, #2c3e50);
    position: absolute;
    top: 95%;
    width: 100%;
    left: 0%;
    padding: 0px 10px;
    justify-content: space-around;
    display: none;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }
  .menu-ham {
    width: 150px;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  #hero {
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .titulos h1 {
    width: 100%;
  }

  #about {
    text-align: center;
  }
  .about-tittle h2 {
    flex-direction: column;
    align-items: center;
  }
  .about-tittle p {
    flex-direction: column;
    align-items: center;
  }
  .about-cards-container {
    flex-direction: column;
  }
  .about-cards-container2 {
    flex-direction: column;
  }
  #contact {
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-container {
    flex-direction: column;
  }
  .list-contact {
    flex-direction: column;
  }

  .new-contact {
    justify-content: center;
  }

  .new-contact form {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 390px) {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .icons {
    display: flex;
  }
  .menu-ham {
    height: 70px;
  }
  .navbar {
    gap: 10px;
  }
  .navbar-list {
    background: #dfe0e1;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 5px 0;
    justify-content: space-around;
    display: none;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  #hero {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .titulos {
    padding: 10px 0;
    width: 100%;
    margin-top: 50px;
  }
  .title-logo {
    width: 350px;
    height: 100px;
  }
  #about {
    text-align: center;
    padding: 20px;
  }
  .about-tittle h2 {
    flex-direction: column;
    align-items: center;
  }
  .about-tittle p {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-carlitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .card-roman {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-campo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contact-mail a {
    width: max-content;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
  }
}
