@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Libre:wght@300&family=Big+Shoulders+Inline+Text:wght@700&family=Dancing+Script:wght@400;700&family=Indie+Flower&family=Josefin+Sans:wght@100;400&family=Moirai+One&family=Poppins:ital,wght@0,500;0,700;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: #dfe0e1;
}
.regist-box {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 2px solid darkslategray;
  margin: 40px;
  padding: 20px;
  box-shadow: #000000 0px 0px 10px;
}

.regist {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}
.regist h2 {
  font-size: 40px;
  font-weight: 900;
  color: darkslategrey;
  text-shadow: #000000 0px 0px 10px;
}

.regist .inputBx {
  position: relative;
  width: 100%;
}
.regist .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid darkslategray;
  font-size: 1.2em;
  color: darkslategray;
  font-weight: 900;
}
.regist .inputBx input[type="submit"] {
  width: 100%;
  font-weight: 900;
  color: #0078ff;
  background: linear-gradient(45deg, burlywood, #fff);
  box-shadow: #000000 0px 0px 10px;
  cursor: pointer;
}
.regist .inputBx input::placeholder {
  color: darkslategray;
  font-weight: 900;
}
.regist .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.regist .links-btn {
  font-size: 25px;
  color: darkslategray;
  text-decoration: none;
}
.links-btn::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: darkslategray;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.links-btn:hover::after {
  transform: scaleX(1);
}
footer {
  background-color: #dfe0e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-img {
  background-color: #dfe0e1;
  width: 250px;
}
